wrapper_plugin/.vs

wrapper_plugin/x64/Debug
wrapper_plugin/x64/Release
wrapper_plugin/x86/Debug
wrapper_plugin/x86/Release

wrapper_plugin/Debug/x64
wrapper_plugin/Release/x64
wrapper_plugin/Debug/x86
wrapper_plugin/Release/x86

generated/

__pycache__/
*.py[cod]
*$py.class

*.so
*.dll
*.log